body { width:100%;  top repeat-x #1b99d0; margin:20px 0; padding:0; font-family:Arial, Helvetica, sans-serif; color:#333333; }
.float_l { float:left; }
.float_r { float:right; }
.cl { clear:both; }
.txt_left { text-align:left; }
.txt_cent { text-align:center; }
.txt_right { text-align:right; }
a { color:#333333; text-decoration:underline; }
a:hover { color:#333333; text-decoration:none; }
p { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; text-decoration:none; line-height:22px; }
#main_cont { width:994px; min-height:100px; height:auto !important; margin:0 auto; padding:0; }
#main { width:938px; min-height:100px; height:auto !important; margin:0; padding:0 28px; background:url(/media/promo1/images/maincont_bg.png) top repeat-y; }
#main_head { width:994px; height:40px; margin:0 auto; padding:0; }
.left_top { width:29px; height:40px; float:left; background:url(/media/promo1/images/left_top_corner.png) top no-repeat; }
.top_rpt { width:936px; height:40px; float:right; background:url(/media/promo1/images/top_corner_rpt.png) top repeat-x; float:left; }
.right_top { width:29px; height:40px; float:right; background:url(/media/promo1/images/right_top_corner.png) top no-repeat; }
#main_foot { width:994px; height:40px; margin:0 auto; padding:0; }
.left_bot { width:29px; height:40px; float:left; background:url(/media/promo1/images/left_bot_corner.png) top no-repeat; }
.bot_rpt { width:936px; height:40px; float:right; background:url(/media/promo1/images/bot_corner_rpt.png) top repeat-x; float:left; }
.right_bot { width:29px; height:40px; float:right; background:url(/media/promo1/images/right_bot_corner.png) top no-repeat; }
.header { width:938px; height:61px; }
.logo { width:164px; height:61px; float:left; }
.right_header { width:774px; height:61px; float:right; }
.protect { font-family:"myriad Pro"; font-size:35px; color:#00a9e0; font-weight:normal; text-decoration:none; line-height:35px; text-align:left; margin-left:75px; }
.protect1 {
color:#00A9E0;
font-family:"myriad Pro";
font-size:35px;
font-weight:normal;
line-height:35px;
margin-left:75px;
text-align:left;
text-decoration:none;
}
.instant {
color:#424343;
font-family:Arial,Helvetica,sans-serif;
font-size:18px;
font-weight:normal;
line-height:18px;
margin-right:287px;
margin-top:-22px;
text-align:right;
}
.blue { color:#003768; }
.banner { width:938px; height:619px; background:url(/media/promo1/images/banner2.jpg) top no-repeat; margin:29px 0 10px 0; }
#main_col { width:938px; min-height:200px; height:auto !important; float:left; }
#left_col { width:589px; min-height:500px; height:auto !important; float:left; }
#right_col { width:328px; min-height:500px; height:auto !important; float:right; padding-left:21px; }
.ultimate { font-size:38px; color:#CC0000; font-weight:bold; font-family:"trebuchet MS"; margin:0; padding:0; line-height:38px; padding-top:20px; }
.membership { font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#10b0e3; font-weight:bold; text-decoration:none; padding-top:20px; }
.benefits ul { list-style-type:none; padding:0 0 30px 0; margin:0; }
.benefits li { padding:0 0 0 30px; margin:10px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; text-decoration:none; line-height:18px; background:url(/media/promo1/images/checkmark.jpg) top left no-repeat; list-style:none; }
.form { width:327px; min-height:468px; height:auto !important; background:url(/media/promo1/images/form_bg.jpg) top no-repeat; padding-top:102px; margin:20px 0; }
.form_left { width:95px; padding:0px 10px 0px 20px; float:left; line-height:25px; font-size:14px; }
.form_left_pra { width:100px; padding:0px 10px 0px 20px; float:left; line-height:25px; font-size:14px; }
.txtfield { width:175px; height:20px; padding-top:3px; border:1px #cccccc solid; float:left; margin-bottom:15px; }
.txtfield2 { width:45px; height:20px; padding-top:3px; border:1px #cccccc solid; float:left; margin:0px 10px 10px 0px; }
.txtfield3 { width:60px; height:20px; padding-top:3px; border:1px #cccccc solid; float:left; margin-bottom:15px; }
.txtfield4 { width:175px; height:100px; border:1px #cccccc solid; float:left; margin-bottom:15px; overflow:auto; }
.txtfield5 { width:176px; height:25px; padding:1px 0px 2px 0px; border:1px #cccccc solid; float:left; margin-bottom:15px; }
.txtfield6 { width:285px; height:25px; padding-bottom:3px; border:1px #cccccc solid; }
.txtfield7 { width:283px; height:20px; padding-top:3px; border:1px #cccccc solid; }
.txtfield8 { width:160px; height:25px; padding-bottom:3px; margin:0 25px 10px 0; border:1px #cccccc solid; float:left; }
.txtfield9 { width:98px; height:25px; padding-bottom:3px; margin:0 0 10px 0; border:1px #cccccc solid; float:left; }
.submit { text-align:center; margin-top:10px; }
.form2 { width:327px; min-height:600px; height:auto !important; background:url(/media/promo1/images/form_bg_3.jpg) top repeat-y; margin:20px 0 0; }
.form2_cont { width:327px; min-height:600px; height:auto !important; background:url(/media/promo1/images/form_bg_2.jpg) top no-repeat; padding-top:120px; }
.form_div { width:287px; min-height:20px; height:auto !important; padding:10px 20px 10px; line-height:25px; font-size:14px; }
.form_div2 { width:287px; padding:0 20px 5px; line-height:25px; font-size:14px; }
.form_div3 { width:287px; padding:0 20px; line-height:25px; font-size:14px; }
.radio_wid { width:80px; float:left; }
.form2_footer { width:327px; height:16px; background:url(/media/promo1/images/form_footer.jpg) top no-repeat; }
.why_pay { width:312px; height:175px; background:url(/media/promo1/images/why_pay.jpg) top no-repeat; float:right; margin:0 8px 10px 0; }
.guarantee { width:152px; height:124px; background:url(/media/promo1/images/guarantee.jpg) top no-repeat; padding:10px 10px 10px 150px; float:right; margin:0 8px 10px 0; font-size:13px; }
.martop20 { margin-top:20px; }
.feedback_cont { width:924px; min-height:100px; height:auto !important; margin:0 7px; background:#f7f7f7; float:left; }
.feedback { width:928px; height:59px; background:url(/media/promo1/images/feedback.jpg) top left no-repeat; }
.feedback_head { font-family:Tahoma; font-size:25px; color:#ffffff; font-weight:bold; text-decoration:none; text-align:left; line-height:50px; padding:0 0 0 10px; }
.feedback_img { border:2px #FFFFFF solid; float:left; margin:10px; }
.feedback_txt { margin:10px; min-height:85px; height:auto !important; font-size:14px; line-height:28px; }
.select_pack { font-family:Arial, Helvetica, sans-serif; font-style:italic; font-weight:bold; font-size:32px; color:#ff7e00; text-decoration:none; line-height:32px; padding-top:30px; }
.select_pack p{ font-family:Arial, Helvetica, sans-serif; font-style:italic; font-weight:bold; font-size:18px; color:#333333; text-decoration:none; line-height:28px; }
.select_price { color:#79ab0b; }
.save { color:#FF0000; }
.box-agree { width:559px; height:170px; overflow: auto; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height: 14px; background-color: #f6f6f6; padding:15px; margin-bottom:20px; }
.box-agree p{ font-size:11px; line-height:15px; }
.benefit_head { font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#10b0e3; font-weight:normal; text-decoration:none; padding:20px 0; }
.feedback_cont2 { width:589px; min-height:100px; height:auto !important; background:#f7f7f7; float:left; }
.name { color:#1b99d0; font-size:19px; margin:10px; padding-bottom:10px; border-bottom:1px #666666 dashed;  }
.name2 { color:#1b99d0; font-size:19px; margin:10px; }
.name3 { color:#1b99d0; font-size:18px; padding-bottom:10px; }
.seals { padding:21px; }
.big_btn { padding-top:30px; }
.footer { width:938px; min-height:100px; font-size:12px; color:#FFFFFF; text-decoration:none; margin:0 auto; line-height:18px; }
.footer p { color:#ffffff; font-size:12px; line-height:18px; }
.footer a { color:#ffffff; text-decoration:underline; }
.footer a:hover { color:#ffffff; text-decoration:none; }
.txt11 { font-size:11px;color:#333333; }
.privacy { margin:0 0 10px 125px; }
.marright5 { margin-right:5px; }
.seal_go { width:110px; float:left; text-align:center; }
.seal_30 { width:135px; float:left; text-align:center; }
.seal_128 { width:150px; float:left; text-align:center; }
.seal_pr { width:150px; float:left; text-align:center; }
.mem { width:287px; min-height:200px; height:auto !important; margin:20px 10px 0 0; padding:10px; float:right; background:#f7f7f7; }
.mem ul { list-style-type:none; padding:0 0 30px 0; margin:0; }
.mem li { padding:0; margin:10px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; text-decoration:none; line-height:18px; list-style:none; }
.txt14 { font-size:14px; color:#333333; }
.txt8 { font-size:10px; color:#333333;}
.martop10 { margin-top:15px; }
.benefits_2 { list-style-type:none; padding:20px; margin:0; }
.benefits_2 li { padding:0 0 0 30px; margin:10px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; text-decoration:none; line-height:18px; background:url(/media/promo1/images/checkmark.jpg) top left no-repeat; list-style:none; }
.starburst { width:120px; height:120px; float:left; margin-right:20px; }
.txt16 { font-size:16px; padding-top:5px; }
.txt12 { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; line-height:20px; }
.new_tab { padding:7px; }
.how { font-family:Arial, Helvetica, sans-serif; color:#FF9900; font-size:22px; font-weight:bold; }
.tick { background:url(/media/promo1/images/tick.jpg) top left no-repeat; padding-left:15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; line-height:20px; line-height:15px; }
.health { font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#333333; }
.riskfree { font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#FF6600; font-weight:bold; text-decoration:none; padding-top:20px; }
.k1table_head { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2b4963; font-weight:bold; padding:150px 0 0 0; margin:10px 10px 0 10px; }
.k1table_txt { font-family:Arial, Helvetica, sans-serif; font-size:11px; text-decoration:none; font-weight:normal; line-height:16px; padding:0 10px 10px 10px; letter-spacing:1px; }
.day_bg { width:590px; height:488px; background:url(/media/promo1/images/risk_free_30_day.jpg) top no-repeat; }
.mem_new { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; margin-top:5px; font-weight:bold; }
.discount_cont { padding:15px; background:#f7f7f7; font-size:14px; line-height:24px; background:url(/media/promo1/images/guarantee_bg.jpg) top left no-repeat; }